/.vscode
/AFG Screen Recording.mov
/Medical Screen Recording.mov
/__pycache__
/gm-demos-4b3e9952ccef.json
/gm-demos-a90f8a99ccd5.json
/haystack3.ipynb
/immigration_docs
/integrated.drawio
/integrated.drawio.png
/medical_docs
/mlruns
/nlp_search.py
/prepare_env.sh